<h1>Real Talk About Black Womxnhood</h1>
<h2>Users Login Form</h2>
<%= link_to "Sign Up", "/signup" %>
<% if flash[:message] %>
    
     <p style="color: red"> <%= flash[:message] %> </p>
    
<% end %>

<%= form_with url: "/login", method: "post" do |f| %>



<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit "Login"%>

<% end %>