<<<<<<< HEAD
<h1>Topics</h1>

<ul>
	<% @topics.each do |topic| %>
		<h3>
			<%= link_to topic.name, "/topics/#{topic.id}" %> 
		</h3>
		
		<% topic.resources.each do |resource| %>
		<li> <%= link_to resource.title, "/resources/#{resource.id}" %> by 
			 <%= resource.author.name %>
		</li>
		<% end %>
	<% end %>
</ul>
=======
<div><h1>All Topics</h1></div>

<div>
    <% @topics.each do |topic| %>
		<h3>
			<%= link_to topic.name, "/topics/#{topic.id}" %> 
		</h3>
		
		<ul>
			<% topic.resources.each do |resource| %>
			<li> <%= link_to resource.title, "/resources/#{resource.id}" %> by 
				 <%= resource.author.name %>
			</li>
			<% end %>
		</ul>
	<% end %>
</div>
>>>>>>> origin/lindsay-users-topics
