<%= link_to "Explore Resources", resources_path %>
<%= link_to "My Account", user_path(@user) %>

<h1><%= @author.name%></h1>

<p>Bio: <%= @author.bio%></p>


<h2>List of Published Works:</h2>
<% @author.resources.each do |resource|%>
	<%= link_to resource.title, resource_path(resource) %>  
<% end %>
