<%= form_for @resource do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>
<br><br>

<h4> <%= f.label :author %> <br></h4>
	<%= f.collection_select :author_id, @authors, :id, :name %> <br>
	If the author isn't in the list, add them to the list!
	<%= button_to "New", new_author_path %>
<br><br>

<h4>
	<%= f.label :topics %>
<br>
</h4> 
	

<%= f.collection_check_boxes :topic_ids, @topics, :id, :name %>
If the topic isn't in the list, add them to the list!
<%= button_to "New", new_topic_path %>
<br><br>

<%= f.submit %>

<% end %>